:root{
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    --color: rgba(54, 70, 4, 0.815);
}
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
    


}
header{
    padding: 10px;
    color: var(--color);
}
header>h1{
    font-size: 40px;
}
article{
    background-color: rgba(18, 26, 41, 0.103);
    padding: 0px 40px;
}
article>h3{
    width: fit-content;
    background-color: rgba(72, 107, 173, 0.157);
    padding: 10px;
    color: var(--color);
}
form{
    margin: 0 auto;
    min-width: 400px;
    margin-bottom: 30px;
}
form>div{
    display: flex;
    min-width: 90%;
    justify-content: space-between;
    margin-bottom: 10px;
}
label{
    padding-right: 10px;
    color: var(--color);
    
}
/* --------------checkbox--------------------- */

input[type="checkbox"] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #eee;
    /* Adjusts the position of the checkboxes on the text baseline */
    position: relative;
    right: 175px;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: var(--color);
    background-color: #eee;
  }
  
  input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.5em;
    right: -0.1px;
    top: -0.1em;
    visibility: hidden;
  }
  
  input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }
  
  input[type="checkbox"]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
  }
  
/* ------------------------------------------------- */
input{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            border: 1px solid #eee;
            color: var(--color);
    
    
}
button{
    width: 80px;
    height: 30px;
    position: relative;
    left: 150px;
    background-color: var(--color);
    border: 1px solid var(--color);
    color: azure;
}
button:active{
    background-color: var(--color);
}
/* ----------------table--------------- */
table{
    border: 2px solid var(--color);
    min-width: 400px;
    visibility: hidden;
}
td,th{
    border: 2px solid var(--color);
    color: #ddd;
    background-color: var(--color);

}
.Delete-btn{
    color:red;
    background-color: var(--color);
    appearance: none;
    border: unset;
}
select{
    background-color: var(--color);
    border: 2px green;
    color: #ddd;
}